body {
     font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
    color: black;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;

}

header {
    background-color: #BADFDB;
    color: #f8f8f8;
    padding: 15px 0px;
    
}

nav a {
    color: #f8f8f8;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    margin-bottom: 30px;
}

footer {
  background-color: black;
  color: #f8f8f8;
  padding: 15px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}

.mycards {

    margin-top: 50px;
}